# Files mentioned in this file will be ignored by git
*.rpm
*.swp
*.tar.gz
*.tar.gz.asc
*.bz2
*.tbz2
*.tgz
*.zip
*.run
*.tar.bz2
*.tar.xz
*.txz
*.rpm
*.zip
*.deb
*.gem
*.7z
*.lz
*.pk3
*.run
*.Z
*.deb
*.jar
*~
.directory
*.war
gimp-painter/*.diff
*.hidden
