[Desktop Entry]
Name=Scid 
GenericName=A Free Chess Database Application
Exec=scid %F
MimeType=application/x-chess-pgn
Icon=scid
Type=Application
Categories=Game;BoardGame;
