[Desktop Entry]
Version=2021.1.0
Type=Application
Terminal=false
Name=Meshroom
MimeType=application/x-Meshroom
Exec=/opt/Meshroom/Meshroom %U
GenericName=Photogrammetry workflow
Comment=Photogrammetry workflow
Icon=logo_meshroom
Categories=Graphics;3DGraphics;Photogrammetry

