[Desktop Entry]
Type=Application
Terminal=false
Name=Natron
MimeType=application/x-Natron
Exec=/opt/Natron/Natron %U
GenericName=Node-graph Video Compositor
Comment=Node-graph Video Compositor software
Icon=natronIcon256_linux
Categories=Graphics;2DGraphics;RasterGraphics;Compositor;Video

