[Desktop Entry]
Version=12.2
Type=Application
Exec=netbeans
Name=NetBeans IDE
GenericName=Apache NetBeans IDE
Icon=netbeans
StartupNotify=true
Categories=Development;IDE;Qt;KDE;GTK;GNOME;
